<nav class="yellow darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Kubadroid</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li {{#if isOnAir}} class="active" {{/if}}><a href="/on-air">on-air</a></li>
      <li {{#if isTimeTable}} class="active" {{/if}}><a href="/timetable">timetable</a></li>
    </ul>
  </div>
</nav>