@import "~materialize-css/dist/css/materialize.min.css";

.auth-form {
    display: flex;
}

.auth-form-switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.auth-form .actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.auth-form .actions button {
    margin: 0 5px;
}

.editor-text-area {
    border-bottom: 2px solid #dedede;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0 24px;
}

.info-item {
    padding: 0 10px 0 9px;
    border-right: 1px solid rgba(160, 160, 160, 0.2);
}

.info-item:last-child {
    padding-right: 0;
    border-right: none;
}
