@import "~materialize-css/dist/css/materialize.min.css";

.auth-form {
    display: flex;
}

.auth-form-switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.auth-form .actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.auth-form .actions button {
    margin: 0 5px;
}

.editor-text-area {
    border-bottom: 2px solid #dedede;
    margin-bottom: 10px;
    padding: 5px 10px;
}
